<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>887310805235-bt5bm8at1lttannhu4kp1utc4bcqeg6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887310805235-bt5bm8at1lttannhu4kp1utc4bcqeg6s</string>
	<key>API_KEY</key>
	<string>AIzaSyC_uniPLEtLPI2Vpr8dTtrZCFNKGQrAr6w</string>
	<key>GCM_SENDER_ID</key>
	<string>887310805235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onewayfirst.TinderSwipeMatch</string>
	<key>PROJECT_ID</key>
	<string>swipe-match-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>swipe-match-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887310805235:ios:97fb27523aaf679c</string>
	<key>DATABASE_URL</key>
	<string>https://swipe-match-2019.firebaseio.com</string>
</dict>
</plist>